					<div class="c-info">
						<div class="l-inner --narrow">
							<div class="c-info__head">診療時間のご案内</div>
							<div class="c-info__table">
								<div class="c-tableTime">
									<table class="l-table">
										<thead>
											<tr>
												<th class="l-table__th">診療時間</th>
												<th class="l-table__th">月</th>
												<th class="l-table__th">火</th>
												<th class="l-table__th">水</th>
												<th class="l-table__th">木</th>
												<th class="l-table__th">金</th>
												<th class="l-table__th">土</th>
												<th class="l-table__th">日/祝</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th class="l-table__th">
													<div class="c-tableTime__head">
														<div class="ttl"><strong>午前</strong><span>9:00 ～ 12:30</span></div>
														<div class="sub">[受付 12:00まで]</div>
													</div>
												</th>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td">休</td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td">休</td>
											</tr>
											<tr>
												<th class="l-table__th">
													<div class="c-tableTime__head">
														<div class="ttl"><strong>午後</strong><span>14:00 ～ 18:00</span></div>
														<div class="sub">[受付 17:30まで]</div>
													</div>
												</th>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●</span></td>
												<td class="l-table__td">休</td>
												<td class="l-table__td"><span class="c-tableTime__circle">●<small>※2</small></span></td>
												<td class="l-table__td"><span class="c-tableTime__circle">●<small>※1</small></span></td>
												<td class="l-table__td">休</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="c-info__note">
								<div class="c-info__note__left">
									<p class="u-textCircle --color1">● 休診日：木曜日・第1、3金曜日・日曜日・祝日</p>
									<p class="u-textCircle">● 受付は診療終了時間の30分前までにお願いします。</p>
									<div class="txt01">
										<p>※1　土曜日の午後の診療は 17:00 まで（受付 16:30 まで）</p>
										<p>※2　第1・第3金曜日午後の女性泌尿器科は休診。</p>
									</div>
								</div>
								<div class="c-info__note__right">
									<p class="u-textCircle">
										● 診療科目<br>
										産科・婦人科・女性泌 尿器科・アンチエイジング・<br>
										小児科健診・各種予防接種・産前産後ケア＆サポート
									</p>
								</div>
							</div>
							<div class="c-info__map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.4004624350587!2d130.5025559155695!3d33.30834456400988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541a50370cde0c9%3A0x82fde18ec4d5f529!2z5pel5pys44CB44CSODMwLTAwNDgg56aP5bKh55yM5LmF55WZ57Gz5biC5qKF5rqA55S677yZ77yV77yV4oiS77yR!5e0!3m2!1sja!2s!4v1665473575095!5m2!1sja!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							<div class="c-btnMap">
								<a href="https://goo.gl/maps/Z93GJPHiWwjcXZARA" target="_blank" class="c-btnMap__link u-hoverOpacity"><span>MAPを拡大して見る</span></a>
							</div>
						</div>
					</div>
					<div class="c-relative">
						<div class="l-inner --wide">
							<div class="c-relative__nav">
								<div class="c-relative__nav__faq">
									<a href="" class="u-hoverOpacity">
										<div>FAQ</div>
										<div class="c-link2">
											<div class="c-link2__inner"><span>よくあるご質問と答え</span></div>
										</div>
									</a>
								</div>
								<ul class="c-relative__nav__list">
									<li class="c-relative__nav__item --calendar">
										<a href="" class="u-hoverOpacity">
											<div class="img">
												<img class="u-only__pc" src="<%= getRelativePath('/images/calendar_icon.png'); %>" alt="診療日程/時間" width="48">
												<img class="u-only__sp" src="<%= getRelativePath('/images/calendar_icon_sp.png'); %>" alt="診療日程/時間" width="35">
											</div>
											<div class="c-link2">
												<div class="c-link2__inner"><span>診療日程/時間</span></div>
											</div>
										</a>
									</li>
									<li class="c-relative__nav__item --app">
										<a href="" class="u-hoverOpacity">
											<div class="img">
												<img class="u-only__pc" src="<%= getRelativePath('/images/app_icon.png'); %>" alt="診察のご予約" width="47">
												<img class="u-only__sp" src="<%= getRelativePath('/images/app_icon_sp.png'); %>" alt="診察のご予約" width="34">
											</div>
											<div class="c-link2">
												<div class="c-link2__inner"><span>診察のご予約</span></div>
											</div>
										</a>
									</li>
									<li class="c-relative__nav__item --doctor">
										<a href="" class="u-hoverOpacity">
											<div class="img">
												<img class="u-only__pc" src="<%= getRelativePath('/images/doctor_icon.png'); %>" alt="医師スケジュール" width="50">
												<img class="u-only__sp" src="<%= getRelativePath('/images/doctor_icon_sp.png'); %>" alt="医師スケジュール" width="36">
											</div>
											<div class="c-link2">
												<div class="c-link2__inner"><span>医師スケジュール</span></div>
											</div>
										</a>
									</li>
								</ul>
								
							</div>
							<div class="c-relative__brand">
								 <div class="c-relative__brand__thank">
									<img class="u-only__pc" src="<%= getRelativePath('/images/text_specialthanks.png'); %>" alt="special thanks" width="248">
									<img class="u-only__sp" src="<%= getRelativePath('/images/text_specialthanks_sp.png'); %>" alt="special thanks" width="190">
								 </div>
								 <div class="c-relative__brand__row">
									<div class="c-relative__brand__item">
										<a href="" target="_blank" class="u-hoverOpacity">
											<img src="<%= getRelativePath('/images/brand01.png'); %>" alt="logo">
										</a>
									</div>
									<div class="c-relative__brand__item">
										<a href="" target="_blank" class="u-hoverOpacity">
											<img src="<%= getRelativePath('/images/brand02.png'); %>" alt="logo">
										</a>
									</div>
								 </div>
								 <div class="c-relative__brand__row">
									<div class="c-relative__brand__item">
										<a href="" target="_blank" class="u-hoverOpacity">
											<img src="<%= getRelativePath('/images/brand03.png'); %>" alt="logo">
										</a>
									</div>
								 </div>
							</div>
						</div>
					</div>
				</article>
				<!-- /.<%= getArticleClass('.'); %> -->
			</main>
			<!-- /#primary -->
			<div id="sidebar" class="c-side">
				<a href="#" target="_blank" class="c-side__btn u-hoverOpacity">
					<span class="txt">初診・再診のご予約</span>
				</a>
				<a href="" class="c-side__btn2 --calendar">
					<span>診療時間</span>
				</a>
				<a href="tel:0942322502" class="c-side__btn2 --phone">
					<span>TEL</span>
				</a>
			</div>
			<!-- /#pagetop -->
			<div id="pagetop" class="c-pagetop">
				<a href="#">PAGE TOP</a>
			</div>
			<!-- /#pagetop -->
		</div>
		<!-- /#content -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__row">
					<div class="l-footer__info1">
						<div class="logo">
							<img src="<%= getRelativePath('/images/logo_footer.png'); %>" alt="" width="239">
						</div>
						<div class="address">
							<span>〒830-0048　福岡県久留米市梅満町955-1</span>
							<div class="c-btnMap">
								<a href="https://goo.gl/maps/Z93GJPHiWwjcXZARA" target="_blank" class="c-btnMap__link u-hoverOpacity"><span>MAP</span></a>
							</div>
						</div>
						<div class="sns">
							<ul>
								<li class="fb">
									<a href="https://www.facebook.com/kawata.clinic/" target="_blank" class="u-hoverOpacity">
										<img src="<%= getRelativePath('/images/icon_fb2.png'); %>" alt="facebook" width="26">
									</a>
								</li>
								<li class="ins">
									<a href="https://www.instagram.com/kawatasanfujinka/" target="_blank" class="u-hoverOpacity">
										<img src="<%= getRelativePath('/images/icon_ins2.png'); %>" alt="instagram" width="26">
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="l-footer__info2">
						<div class="ttl">お問い合わせ・ご相談</div>
						<div class="c-tel">
							<span class="c-tel__lable">Tel.</span>
							<a href="tel:0942322502" class="c-tel__link u-hoverOpacity">0942-32-2502</a>
						</div>
						<div class="time">受付時間 9:00 - 17:30</div>
					</div>
				</div>
				<div class="l-footer__nav">
					<ul>
						<li><a href="" class="u-hoverOpacity">採用情報</a></li>
						<li><a href="" class="u-hoverOpacity">個人情報保護方針</a></li>
						<li><a href="" class="u-hoverOpacity">初診・再診のご予約</a></li>
					</ul>
				</div>
				<div class="l-footer__cpr">© KAWADA ALL RIGHTS RESERVED.</div>
			</div>
		</footer> 
		<!-- /#footer -->
	</div>
	<!-- /#all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
</body>
</html>