<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'temp',
		title: '院長　河田高伸',
		description: '',
	}
}}); %><%- include('_header'); %>
					<section class="p-temp">
						<div class="l-inner --narrow">
							<ul class="c-nav2 --col4">
                                <li class="c-nav2__item --current"><a href="" class="c-nav2__link">ページ内アンカーリンク</a></li>
                                <li class="c-nav2__item"><a href="" class="c-nav2__link">ページ内アンカーリンク</a></li>
                                <li class="c-nav2__item"><a href="" class="c-nav2__link">ページ内アンカーリンク</a></li>
                                <li class="c-nav2__item"><a href="" class="c-nav2__link">ページ内アンカーリンク</a></li>
                            </ul>
                            <h3>H3タイトル</h3>
                            <h4>H4タイトル</h4>
                            <h5>H5タイトル</h5>
                            <h6>H6タイトル</h6>
                            <p class="u-text">
                                〈ｐ〉テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                            </p>
                            <br>
                            <div class="p-temp__link">
                                <div class="p-temp__linkCol">
                                    <div class="c-linkText">テキストリンク <a href="" class="c-linkText__link">→ 詳しくはこちらをご覧ください</a></div>
                                    <br>
                                    <div class="c-linkText">外部リンク <a href="" class="c-linkText__link" target="_blank">→ 詳しくは●●サイトををご覧ください</a></div>
                                    <br>
                                    <div class="c-linkText">PDFリンク <a href="" class="c-linkText__link --pdf">→ 問診票ダウンロード</a></div>
                                </div>
                                <div class="p-temp__linkCol">
                                    <div class="c-button1">
										<a href="" class="c-button1__link"><span>もっと読む</span></a>
									</div>
                                    <br><br>
                                    <div class="c-link1 --bold --color1 --left">
                                        <a href="" class="c-link1__inner --pl0"><span>産前ケアサポート</span></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="c-button3">
                                <a href="" class="c-button3__link --pdf">PDFボタン</a>
                            </div>
                            <br>
                            <div class="l-frameBtn">
                                <div class="l-frameBtn__item">
                                    <div class="c-button3">
                                        <a href="" class="c-button3__link --arrow">白抜きのボタン</a>
                                    </div>
                                </div>
                                <div class="l-frameBtn__item">
                                    <div class="c-button3">
                                        <a href="" class="c-button3__link --arrow --color1">リンクボタン</a>
                                    </div>
                                </div>
                            </div>
                            <div class="c-boxText1 --bg1">
                                <h6 class="c-boxText1__ttl">見出し</h6>
                                <p class="c-boxText1__txt">
                                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                </p>
                            </div>
                            <div class="c-boxText1 --bg2">
                                <h6 class="c-boxText1__ttl">見出し</h6>
                                <p class="c-boxText1__txt">
                                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                </p>
                            </div>
                            <br>
                            <div class="p-temp__list">
                                <div class="p-temp__listCol --w1">
                                    <ul class="c-listDot --ml1 --color1">
                                        <li>ULリスト</li>
                                        <li>ULリスト</li>
                                        <li>ULリスト</li>
                                    </ul>
                                </div>
                                <div class="p-temp__listCol --w1">
                                    <ul class="c-listDot --ml1 --color2">
                                        <li>ULリスト（ページ内のイメージによって使い分け）</li>
                                        <li>ULリスト</li>
                                        <li>ULリスト</li>
                                    </ul>
                                </div>
                                <div class="p-temp__listCol">
                                    <br><br>
                                    <ol class="c-listOl --ml1">
                                        <li>OLリスト</li>
                                        <li>OLリスト</li>
                                        <li>OLリスト</li>
                                    </ol>
                                    <br><br>
                                    <dl class="c-listDl --ml1">
                                        <dt>DLタイトル</dt>
                                        <dd>DLリストDLリストDLリストDLリスト</dd>
                                        <dt>DLタイトル</dt>
                                        <dd>DLリストDLリストDLリストDLリスト</dd>
                                        <dt>DLタイトル</dt>
                                        <dd>DLリストDLリストDLリストDLリスト</dd>
                                    </dl>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="c-table01 --color2">
                                <table class="c-table01__table">
                                    <tbody>
                                        <tr>
                                            <th class="c-table01__th --w1">basic_table</th>
                                            <th class="c-table01__th --w2">thタイトル</th>
                                            <th class="c-table01__th --w2">thタイトル</th>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="c-table01 --color1">
                                <table class="c-table01__table">
                                    <tbody>
                                        <tr>
                                            <th class="c-table01__th --w1">simple_table</th>
                                            <th class="c-table01__th --w2">thタイトル</th>
                                            <th class="c-table01__th --w2">thタイトル</th>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                        <tr>
                                            <th class="c-table01__th">thタイトル</th>
                                            <td class="c-table01__td --pl1">tdデータ</td>
                                            <td class="c-table01__td">tdデータ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br><br>
                            <ul class="c-imgTxt01 --col3">
                                <li class="c-imgTxt01__item">
                                    <a href="javascript:;">
                                        <div class="c-imgTxt01__img">
                                            <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                        </div>
                                        <h6 class="c-imgTxt01__ttl">見出し</h6>
                                        <p class="c-imgTxt01__text">
                                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                    </a>
                                </li>
                                <li class="c-imgTxt01__item">
                                    <a href="javascript:;">
                                        <div class="c-imgTxt01__img">
                                            <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                        </div>
                                        <h6 class="c-imgTxt01__ttl">見出し</h6>
                                        <p class="c-imgTxt01__text">
                                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                    </a>
                                </li>
                                <li class="c-imgTxt01__item">
                                    <a href="javascript:;">
                                        <div class="c-imgTxt01__img">
                                            <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                        </div>
                                        <h6 class="c-imgTxt01__ttl">見出し</h6>
                                        <p class="c-imgTxt01__text">
                                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <br>
                            <ul class="c-imgTxt01 --col2">
                                <li class="c-imgTxt01__item">
                                    <a href="javascript:;">
                                        <div class="c-imgTxt01__img">
                                            <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                        </div>
                                        <h6 class="c-imgTxt01__ttl">見出し</h6>
                                        <p class="c-imgTxt01__text">
                                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                    </a>
                                </li>
                                <li class="c-imgTxt01__item">
                                    <a href="javascript:;">
                                        <div class="c-imgTxt01__img">
                                            <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                        </div>
                                        <h6 class="c-imgTxt01__ttl">見出し</h6>
                                        <p class="c-imgTxt01__text">
                                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <br>
                            <div class="c-imgTxt01 --col1">
                                <div class="c-imgTxt01__item">
                                    <div class="c-imgTxt01__img">
                                        <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                    </div>
                                    <h6 class="c-imgTxt01__ttl">見出し</h6>
                                    <p class="c-imgTxt01__text">
                                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    </p>
                                </div>
                            </div>
                            <div class="c-imgTxt02">
                                <div class="c-imgTxt02__img">
                                    <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                </div>
                                <div class="c-imgTxt02__cont">
                                    <h6 class="ttl">見出し</h6>
                                    <p class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                </div>
                            </div>
                            <div class="c-imgTxt02 --rl">
                                <div class="c-imgTxt02__img">
                                    <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                </div>
                                <div class="c-imgTxt02__cont">
                                    <h6 class="ttl">見出し</h6>
                                    <p class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                </div>
                            </div>
						</div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="c-frame01">
                            <div class="l-inner --wide">
                                <ul class="c-frame01__list --col3">
                                    <li class="c-frame01__item">
                                        <a href="javascript:;">
                                            <div class="c-frame01__img">
                                                <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                            </div>
                                            <div class="c-frame01__cont">
                                                <h6 class="ttl">見出し</h6>
                                                <p class="text">＜P＞テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="c-frame01__item">
                                        <a href="javascript:;">
                                            <div class="c-frame01__img">
                                                <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                            </div>
                                            <div class="c-frame01__cont">
                                                <h6 class="ttl">見出し</h6>
                                                <p class="text">＜P＞テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="c-frame01__item">
                                        <a href="javascript:;">
                                            <div class="c-frame01__img">
                                                <div style="background-image:url(<%= getRelativePath('/images/temp/dummy_img01.jpg'); %>)"></div>
                                            </div>
                                            <div class="c-frame01__cont">
                                                <h6 class="ttl">見出し</h6>
                                                <p class="text">＜P＞テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-imgTxt03">
                            <div class="c-imgTxt03__img" style="background-image:url(<%= getRelativePath('/images/temp/dummy_img02.jpg'); %>)"></div>
                            <div class="c-imgTxt03__inner">
                                <div class="c-imgTxt03__cont">
                                    <h6 class="ttl">見出し</h6>
                                    <p class="txt">
                                        ＜P＞テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="c-imgTxt03 --rl">
                            <div class="c-imgTxt03__img" style="background-image:url(<%= getRelativePath('/images/temp/dummy_img02.jpg'); %>)"></div>
                            <div class="c-imgTxt03__inner">
                                <div class="c-imgTxt03__cont">
                                    <h6 class="ttl">見出し</h6>
                                    <p class="txt">
                                        ＜P＞テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="c-imgTxt04">
                            <div class="c-imgTxt04__img" style="background-image:url(<%= getRelativePath('/images/temp/dummy_img03.jpg'); %>)"></div>
                            <div class="c-imgTxt04__inner">
                                <div class="c-imgTxt04__cont">
                                   <div class="wrap">
                                        <p class="text">
                                            〈ｐ〉テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        </p>
                                   </div>
                                </div>
                            </div>
                        </div>
					</section>
<%- include('_footer'); %>
